@import 'colors';

#pitch {
    position: relative;
    z-index: 2;
    background-color: @nephritis;
    line-height: 0;
}

aside ul {
    display: block;

    &.right {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10;
        margin-top: -9.99em;
    }

    &.bottom {
        display: flex;
        justify-content: center;
    }

    font-size: 1.5em;
    line-height: 0;

    li {
        width: 3.33em;
        height: 3.33em;
    }
}

footer {
    color: @silver;
    text-align: center;
    text-shadow: 1px 1px 0 @white;
}
