@import 'colors';
@import 'bubble';

header {
    .bubble(@wisteria transparent transparent transparent);

    display: inline-flex;
    align-items: center;
    margin-bottom: 4em;
    background-color: @wisteria;
    padding: 2em 2.66em;

    &:after {
        left: 2.66em;
        bottom: -4em;
    }
}

#pitch {
    position: relative;
    z-index: 2;
    background-color: @nephritis;
    line-height: 0;
}

aside ul {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    margin-top: -12em;
    width: 5em;
    height: 5em;
    line-height: 0;
}

footer {
    margin-top: 4em !important;
    color: @silver;
    text-align: center;
    text-shadow: 1px 1px 0 @white;
}
