language: node_js
node_js: '0.10'
env:
  global:
  - secure: Lt96t7GXM0HxAnX9SmCmsqYqKwJ8LrUR61fqWZVZ2YvIyoNNaMq1sF3jYiwDBqvPO+XT9n2P09JwpROvCExvBqELrKZbq/j3dp7GtgQgMFajRR+j+F2mL7C79ySTjscmyncb5AzBJ2aCS29rUgO1HT7ky7fj7H6j63GTCCmbn10=
  - secure: CP/Ue5LmzXxvyZEOO5DZO0VglxUALk06nUrBvOyP4c1IVRPqX9fRnADEjkMK+XMpnQ3NCkBnr2eJDNdHfvCfp87bA/zs/IssIdgOAyd65MfBzSyENnckWazHuqBzTxshBobQsKGRLosvEbTkpaH4sdeJeXuUVwDMC/nigW/OIWg=
  - secure: b3O7aYTGa+MNMlNyVHH6GgtNQauOESQSsxEhuhqJ+pMR7/um29XAN53FsHVU9o8oyHIrTqkmwVt5rEfc8qJEF/DfKK3GGB6xWwaTXI064ArP9P+RysumFrJ7roWCyTJNZPryxJix4b1khANhcIZtBMF/POYp++Cjg4N2rHzwuG8=
services: mongodb
addons:
  sauce_connect: true
before_install: npm install -g grunt-cli
install: npm install
before_script: grunt build
deploy:
  provider: openshift
  user: tjokimie
  password:
    secure: f7HOVOVQRb/5lvch67bkj76+2yHjeSbyRZrFHVFKrlVNKzY++T8YL+080nR55y+Yi4ce26f+JOZsOfLqPEQlDMCKusAXV28VBdJrfBHDLJCCzjZfFqtIKccoL636sNmBCPJ6eCTOByKadgyFKgZB+CsKDNE4/T65PQob+p8zAaQ=
  on: master
  skip_cleanup: true
