/* http://flatuicolors.com/ */
*:focus {
  outline: 0;
}
body {
  width: 100%;
  height: 100%;
  background: #ecf0f1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}
a {
  border-bottom: 1px dotted #95a5a6;
  color: #95a5a6;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  border-bottom: 1px solid #7f8c8d;
  color: #7f8c8d;
}
p {
  margin: 0;
}
p:not(:last-child) {
  margin-bottom: 1em;
}
.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 4em auto;
  padding: 0 2em;
}
.row:last-child {
  margin-bottom: 2em;
}
.browsehappy {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}
button {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #2980b9;
  border: 0;
  padding: 1em 1.33em;
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 0 #2c3e50;
  cursor: pointer;
  transition: background-color 0.15s ease-out;
}
button:hover:not(.disabled) {
  background-color: #3498db;
}
button.disabled {
  cursor: not-allowed;
}
button.disabled i {
  opacity: .5;
}
.top-corners {
  position: relative;
  background-color: #27ae60;
}
.top-corners:before,
.top-corners:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 8%;
  height: 0;
  border: 1em solid #2c3e50;
  padding-bottom: 8%;
}
.top-corners:before {
  top: -1em;
  left: -1em;
}
.top-corners:after {
  top: -1em;
  right: -1em;
}
.bottom-corners {
  position: relative;
  background-color: #27ae60;
}
.bottom-corners:before,
.bottom-corners:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 8%;
  height: 0;
  border: 1em solid #2c3e50;
  padding-bottom: 8%;
}
.bottom-corners:before {
  bottom: -1em;
  left: -1em;
}
.bottom-corners:after {
  bottom: -1em;
  right: -1em;
}
#pitch {
  position: relative;
  z-index: 2;
  background-color: #27ae60;
  line-height: 0;
}
aside ul {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 10;
  margin-top: -10em;
  font-size: 1.5em;
  line-height: 0;
}
aside ul li {
  width: 3.33em;
  height: 3.33em;
}
footer {
  color: #bdc3c7;
  text-align: center;
  text-shadow: 1px 1px 0 #ffffff;
}
*[tooltip] {
  position: relative;
}
*[tooltip]:before,
*[tooltip]:after {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}
*[tooltip]:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 100;
  margin: -0.4em -0.2em 0 0;
  border: .4em solid transparent;
  border-left-color: #2c3e50;
}
*[tooltip]:after {
  content: attr(tooltip);
  display: inline;
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 99;
  margin: -1.15em 0.75em 0 0;
  padding: .8em 1em;
  background-color: #2c3e50;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .75em;
  line-height: .75em;
  white-space: nowrap;
}
*[tooltip]:hover:before,
*[tooltip]:hover:after {
  opacity: .9;
}
*[notification-tooltip] {
  position: relative;
}
*[notification-tooltip]:before,
*[notification-tooltip]:after {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}
*[notification-tooltip]:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 101;
  margin: -0.4em -0.2em 0 0;
  border: .4em solid transparent;
  border-left-color: #2c3e50;
}
*[notification-tooltip]:after {
  content: attr(notification-tooltip);
  display: inline;
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 100;
  margin: -1.15em 0.75em 0 0;
  padding: .8em 1em;
  background-color: #2c3e50;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .75em;
  line-height: .75em;
  white-space: nowrap;
}
*[notification-tooltip].show:before,
*[notification-tooltip].show:after {
  opacity: .9;
}
*[notification-tooltip].success:before {
  border-left-color: #27ae60;
}
*[notification-tooltip].success:after {
  background-color: #27ae60;
}
*[notification-tooltip].error:before {
  border-left-color: #c0392b;
}
*[notification-tooltip].error:before {
  background-color: #c0392b;
}
