<notification></notification>

<div class="row">
    <header>
        <h1>Catenaccio</h1>
    </header>
</div>

<section class="row">
    <div class="top-corners">
        <div class="bottom-corners">
            <div id="pitch"></div>
        </div>
    </div>
</section>

<aside>
    <ul>
        <li>
            <draw-move></draw-move>
        </li>
        <li>
            <undo></undo>
        </li>
        <li>
            <redo></redo>
        </li>
        <li>
            <save-image></save-image>
        </li>
        <li>
            <save></save>
        </li>
    </ul>
</aside>

<footer class="row">
    <div>
        <p translate="CREATED_BY" translate-values="{ app: 'Catenaccio', creator: 'Tuomo Jokimies' }"></p>
        <p>
            <span translate="LICENSED_UNDER"></span>
            <a href="http://opensource.org/licenses/mit-license.html" translate="MIT_LICENSE"></a>.
        </p>
        <p>
            <a href="https://github.com/tjokimie/catenaccio" translate="PROJECT"></a>
            <span>&sdot;</span>
            <a href="https://github.com/tjokimie/catenaccio/issues" translate="ISSUES"></a>
        </p>
    </div>
</footer>